body {
	background: #F0F0F0;
}

#root > div {
	text-align: center;
}
#root > div > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.vignette {
	max-width: 20%;
	max-height: 20%;
	outline: 2px solid coral;
	border-radius: 30px;
	background: #FFE0E0;
	text-align: center;
	margin: 1%;
}

img {
	max-width: 95%;
	max-height: 95%;
	border-radius: 10px;
	outline: 2px solid black;
}
.img_wrp{
	display: flex;
	justify-content: center;
}

.title, .origin, .algo {
	text-align: center;
}

.algo {
	height: 100px;
	width: 90%;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	overflow: auto;
	/* Would have gladly used text-overflow: ellipsis,
	 * but the use of whitespace: nowrap makes thing nightmarish
	 * to deal with*/
}

